@page
@model RazorPagesOne.Pages.NominaModel
@{

    List<NominaModel> nomina = new List<NominaModel>();

    nomina.Add(new NominaModel() { nombre = "Alvaro", apellido = "Guzman", cargo = "DBA", sueldo = 47000.00 });

    nomina.Add(new NominaModel() { nombre = "Ignacio", apellido = "Cuevas", cargo = "Administrador de Serividores", sueldo = 50000.00 });

    nomina.Add(new NominaModel() { nombre = "Pedro", apellido = "Reyes", cargo = "Coordinador de Serividores", sueldo = 55000.00 });
    nomina.Add(new NominaModel() { nombre = "Hancel", apellido = "Hernandez", cargo = "Coordinador de Seguridad", sueldo = 55000.00 });
    nomina.Add(new NominaModel() { nombre = "Dioris", apellido = "Lanfranco", cargo = "Soporte de Redes", sueldo = 40000.00 });
    nomina.Add(new NominaModel() { nombre = "Banyelin", apellido = "Rodriguez", cargo = "Secretaria", sueldo = 40000.00 });



}

<h1> Nomina pago fijo </h1>

<table class="table">
    <thead class="thead-dark table-hover">

        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Cargo</th>
            <th>Sueldo</th>
            <th>Descuento AFP</th>
            <th>Descuento ARS</th>
            <th>Descuento ISR</th>
            <th>Total Descuento</th>
            <th>Sueldo Neto</th>
        </tr>
    </thead>

    <tbody>



        @foreach (var nom in nomina)
        {
        <tr class="cursol-pointer">
            <td>@nom.nombre</td>
            <td>@nom.apellido</td>
            <td>@nom.cargo</td>
            <td>@nom.sueldo</td>
            <td>@Math.Round(nom.calularAFP())</td>
            <td>@Math.Round(nom.calularSFS())</td>
            <td>@Math.Round(nom.calularISR())</td>
            <td>@Math.Round(nom.TotalDescuento())</td>
            <td>@Math.Round(nom.calcularSueldoNeto())</td>



        </tr>
        }



    </tbody>

</table>



